/* The sidebar menu */
body {
  position: relative;
  background-color: #000;
}
@keyframes appear {
  from {opacity:0;}
  to {opacity:1;}
}
.branding {
  display: block;
  width: auto;
  height: auto;
  position: fixed;
  top:0px;
  left:0px;
  z-index: 1;
  padding: 20px 25px;
}
.branding a {
  display: block;
  position: fixed;
  top:0px;
  left:0px;
  z-index: 1;
  padding: 20px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  opacity: 1;
}
.branding a span {
  font-weight: 500;
}
.copyright {
  display: block;
  width: 100%;
  position:fixed;
  bottom: 0px;
  left:0px;
  padding: 10px 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 10px;
  letter-spacing: 0.5px;
}
.sidenav {
    height: 100vh;
    width: 70px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #000;
    display: table;
}
@media screen and (max-width: 768px) {
  .sidenav {
    width: 50px;
  }
}
#menuToggle {
  display: block;
  position: absolute;
  top: 25px;
  right: calc(50% - 12px);
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
}

#menuToggle input {
  display: block;
  width: 28px;
  height: 20px;
  position: absolute;
  top: -2px;
  right: -2px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 3; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 24px;
  height: 1px;
  margin-bottom: 6px;
  position: relative;
  background: #fff;
  z-index: 2;
  transform-origin: 2px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
  }

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: fixed;
  top:0px;
  display: table;
  width: 240px;
  height: 100vh;
  margin: 0 0 0 -200px;
  padding: 0px;
  background: #000;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu .menu-links {
  vertical-align: middle;
  display: table-cell;
  padding: 0 70px 0 24px;
}

#menu .menu-links a {
  display: block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

#menu .menu-links a:last-child {
  margin-bottom: 0px;
}
#menu .menu-links a:hover {
  text-decoration: none;
  font-weight: 700;
}
#menuToggle input:checked ~ div {
transform: none;
}

.sidenav-links {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.nav-link {
  text-align: center;
  padding: 0.2rem 1rem;
  z-index: 3;
  background-color: #000;
}

.nav-link span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
}

.nav-link.active span {
    background-color: #fff;
}

.scroll-down {
  width: 100%;
  position: absolute;
  bottom: 15px;
  padding: 10px;
  z-index: 3;
  text-align: center;
  cursor: pointer;
}
.scroll-down img {
  display: inline-block;
  height: 25px;
}
@media screen and (max-width: 768px) {
  .scroll-down {
    display: none !important;
  }
}

/* Style page content */
.shader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 369px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.main-section {
    width:100%;
    height:100vh;
    display: block;
    position: relative;
    animation: appear;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
video#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('images/gradient-world.png') no-repeat;
    background-size: cover;
}
.about-section {
    width:100%;
    height:100vh;
    display: block;
    position: relative;
    background-color: #000;
}
h1.section-title {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 30px;
  line-height: 64px;
}
@media screen and (max-width: 768px) {
  h1.section-title {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 50px;
  }
}
p.section-text {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  p.section-text {
    font-size: 12px;
    line-height: 21px;
  }
}
p.section-text a {
  color: #fff;
  font-weight: 500;
}
p.section-text a:hover {
  text-decoration: none;
}
.section-text a.more-info {
  display: inline-block;
  text-decoration: none;
  height: 18px;
  background: url(images/icon_right_arrow_white.svg);
  background-repeat: no-repeat;
  background-position: center right;
  padding: 0px 32px 0px 0px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 4px;
  line-height: 1.4;
}

.about-blurb {
  display: block;
  z-index: 1;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

@media screen and (max-width: 768px) {
  .about-blurb {
    width: 60%;
  }
}

#info-panel {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 25px;
  right: 86px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#info-panel input {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  right: -3px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 3; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#info-panel span {
  display: block;
  width: 15px;
  height: 1px;
  position: relative;
  background: #eee;
  z-index: 2;
  margin-top: 5px;
  transform-origin: 50% 50%;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#info-panel span.one {
  transform:rotate(90deg) translate(6px, 0px);
  margin-top: 0px;
}

#info-panel input:checked ~ span.one {
  transform: rotate(135deg) translate(4px, -4px);
}
#info-panel input:checked ~ span {
  transform: rotate(45deg);
}
#info-panel input:checked ~ div {
transform: none;
}

#info-panel input:checked ~ div h1 {
opacity: 1;
}

#info-panel input:checked ~ div p {
opacity: 1;
}

.description {
  display: block;
  z-index: 1;
  position: absolute;
  top: -25px;
  right: -17px;
  width: 380px;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  padding: 100px 50px;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(330px, 0) scaleX(0.15);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
@media screen and (max-width: 768px) {
  #info-panel {
    right: 66px;
  }
  .description {
    width: calc(100vw - 50px);
    transform: translate(calc(100vw - 100px), 0) scaleX(0.15);
  }
}
.description h1 {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.description p {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
